.ui__btn_variant-outlined-choose,
.active {
  padding: 10px;
  font-size: 18px;
  margin: 5px;
}

.ui__btn_variant-outlined-choose {
  color: #f2efff;
  background-color: transparent;
  border: 2px solid #f2efff;
  border-radius: 20px;
  transition: 0.5s;
}

.active1 {
  background-color: #f2efff;
  border: 2px solid #f2efff;
  border-radius: 20px;
  color: #6047ff;
  transition: 0.5s;
}
