.anime-card {
  cursor: pointer;
  width: 15rem;
  height: 20rem;
  color: $primary;
  @include regular-text;
  line-height: 22px;
  font-size: 18px;
  position: relative;
  z-index: 1;

  &__wrapper {
    width: 15rem;
    height: 20rem;
    // background: linear-gradient(
    //   180deg,
    //   rgba(0, 0, 0, 0) 46.1%,
    //   rgba(0, 0, 0, 0.7) 87.77%
    // );
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    position: relative;

    img {
      border-radius: 8px;
      width: 15rem;
      height: 20rem;
      z-index: -1;
      position: absolute;
    }
  }

  &__episode {
    margin: 14px;
    position: absolute;
    bottom: 0;
  }

  &__name {
    margin-top: 1rem;
  }
}
