.catalog {
  padding: 40px 105px;

  .catalog__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    position: relative;

    h2 {
      font-weight: 700;
      font-size: 40px;
      color: white;
    }

    
  }

  .catalog__content {
    display: flex;
    justify-content: space-between;

    .catalog__content_cards {
      width: 72%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      z-index: -1;
    }
  }
}
