.navbar {
  padding: 38px 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #16171f;
  color: white;
  font-size: 18px;
  border-radius: 0px 0px 30px 30px;
  .navbar__logo {
    width: 110px;
  }
  img,
  span,
  button {
    cursor: pointer;
  }
  .navbar__selections {
    width: 26.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar__active-page {
    border-bottom: 1px solid #6047ff;
    border-radius: 1px;
    transition: 0.5s;
  }

  .navbar__innactive-page {
    color: #a6a6a6;
    transition: 0.5s;
  }

  .navbar__search_input {
    width: 32%;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f2efff;
    border-radius: 20px;
    input {
      border: none;
      outline: none;
      font-size: 16px;
      background-color: #f2efff;
    }
    ::placeholder {
      color: #9f8fff;
      line-height: 22px;
      font-size: 16px;
    }
  }
  .navbar__btns {
    width: 23%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar__auth_btns {
    width: 85%;
    display: flex;
    justify-content: space-between;
  }
}
